.wrapper {
  background-color: #F8FCF6;
}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #023E08;
}

.place {
  margin: 54px 0 35px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.offerHeader {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 54px;
  padding: 0 20px;
}

.section {
  margin-bottom: 48px;
}

.section ul {
  padding: 0 20px;
  margin: 0;
}

.section h3 {
  font-size: 32px;
}

.forest figcaption {
  padding: 28px 0;
  font-size: 20px;
}

@media (min-width: 700px) {
  .title {
    margin-top: 70px;
    font-size: 84px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #023E08;
  }

  .offerHeader {
    font-size: 40px;
    margin-bottom: 85px;
  }

  .section {
    margin-bottom: 85px;
  }
  
  .section div,
  .section p {
    padding-left: 40px;
  }

  .forest figcaption {
    padding: 48px 0;
    font-size: 28px;
  }
 
}

@media (min-width: 991px) {
  .section li,
  .section p {
    padding-bottom: 20px;
  }

  .section li {
    font-size: 20px;
  }

  .section p {
    font-size: 20px;
  }

  .forest figcaption {
    padding: 54px 0;
    font-size: 32px;
  }

}
