* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'JostMedium', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, minmax(50%, auto));
  }
}

.green {
  color: #259523;
}

.red {
  color: #F7684D;
}
